USE [master]
GO
/****** Nesnesi: Database [EnvanterDB] Betik Tarihi: 17.09.2026 14:27:14 ******/
CREATE DATABASE [EnvanterDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EnvanterDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\EnvanterDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EnvanterDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\EnvanterDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EnvanterDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EnvanterDB]
GO
/****** Nesnesi: Table [dbo].[Kategoriler] Betik Tarihi: 17.09.2026 14:27:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kategoriler](
	[KategoriID] [int] IDENTITY(1,1) NOT NULL,
	[KategoriAdi] [nvarchar](100) NOT NULL,
	[Aciklama] [nvarchar](250) NULL,
 CONSTRAINT [PK_Kategoriler] PRIMARY KEY CLUSTERED 
(
	[KategoriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[Urunler] Betik Tarihi: 17.09.2026 14:27:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Urunler](
	[UrunID] [int] IDENTITY(101,1) NOT NULL,
	[UrunAdi] [nvarchar](150) NOT NULL,
	[KategoriID] [int] NOT NULL,
	[StokAdedi] [int] NOT NULL,
	[KritikStokSeviyesi] [int] NOT NULL,
	[BirimFiyat] [decimal](18, 2) NULL,
	[OlusturmaTarihi] [datetime] NOT NULL,
 CONSTRAINT [PK_Urunler] PRIMARY KEY CLUSTERED 
(
	[UrunID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: View [dbo].[vw_EnvanterListesi] Betik Tarihi: 17.09.2026 14:27:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_EnvanterListesi]
AS
SELECT 
    u.UrunID,
    u.UrunAdi,
    k.KategoriAdi,
    u.StokAdedi,
    u.KritikStokSeviyesi,
    u.BirimFiyat,
    (u.StokAdedi * u.BirimFiyat) AS ToplamDeger,
    CASE 
        WHEN u.StokAdedi <= u.KritikStokSeviyesi THEN N'Kritik Stok Uyarısı'
        ELSE N'Yeterli'
    END AS StokDurumu,
    u.OlusturmaTarihi
FROM dbo.Urunler u
INNER JOIN dbo.Kategoriler k ON u.KategoriID = k.KategoriID;
GO
ALTER TABLE [dbo].[Urunler] ADD  DEFAULT ((0)) FOR [StokAdedi]
GO
ALTER TABLE [dbo].[Urunler] ADD  DEFAULT ((5)) FOR [KritikStokSeviyesi]
GO
ALTER TABLE [dbo].[Urunler] ADD  DEFAULT ((0.00)) FOR [BirimFiyat]
GO
ALTER TABLE [dbo].[Urunler] ADD  DEFAULT (getdate()) FOR [OlusturmaTarihi]
GO
ALTER TABLE [dbo].[Urunler]  WITH CHECK ADD  CONSTRAINT [FK_Urunler_Kategoriler] FOREIGN KEY([KategoriID])
REFERENCES [dbo].[Kategoriler] ([KategoriID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Urunler] CHECK CONSTRAINT [FK_Urunler_Kategoriler]
GO
ALTER TABLE [dbo].[Urunler]  WITH CHECK ADD  CONSTRAINT [CHK_Urunler_KritikStok] CHECK  (([KritikStokSeviyesi]>=(0)))
GO
ALTER TABLE [dbo].[Urunler] CHECK CONSTRAINT [CHK_Urunler_KritikStok]
GO
ALTER TABLE [dbo].[Urunler]  WITH CHECK ADD  CONSTRAINT [CHK_Urunler_StokAdedi] CHECK  (([StokAdedi]>=(0)))
GO
ALTER TABLE [dbo].[Urunler] CHECK CONSTRAINT [CHK_Urunler_StokAdedi]
GO
/****** Nesnesi: StoredProcedure [dbo].[sp_StokGuncelle] Betik Tarihi: 17.09.2026 14:27:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_StokGuncelle]
    @UrunID INT,
    @YeniStokAdedi INT
AS
BEGIN
    SET NOCOUNT ON;

    -- Validasyon: Ürün var mı kontrolü
    IF NOT EXISTS (SELECT 1 FROM dbo.Urunler WHERE UrunID = @UrunID)
    BEGIN
        RAISERROR(N'Hata: Güncellenecek ÜrünID bulunamadı.', 16, 1);
        RETURN;
    END

    -- Validasyon: Stok negatif olamaz
    IF @YeniStokAdedi < 0
    BEGIN
        RAISERROR(N'Hata: Stok miktarı 0 dan küçük olamaz.', 16, 1);
        RETURN;
    END

    -- Stok Güncelleme
    UPDATE dbo.Urunler
    SET StokAdedi = @YeniStokAdedi
    WHERE UrunID = @UrunID;

    SELECT N'Stok miktarı başarıyla güncellendi.' AS Mesaj, @UrunID AS GuncellenenUrunID, @YeniStokAdedi AS GuncelStok;
END;
GO
/****** Nesnesi: StoredProcedure [dbo].[sp_YeniUrunEkle] Betik Tarihi: 17.09.2026 14:27:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_YeniUrunEkle]
    @UrunAdi NVARCHAR(150),
    @KategoriID INT,
    @StokAdedi INT = 0,
    @KritikStokSeviyesi INT = 5,
    @BirimFiyat DECIMAL(18,2) = 0.00
AS
BEGIN
    SET NOCOUNT ON;

    -- Validasyon: Kategori kontrolü
    IF NOT EXISTS (SELECT 1 FROM dbo.Kategoriler WHERE KategoriID = @KategoriID)
    BEGIN
        RAISERROR(N'Hata: Belirtilen KategoriID mevcut değil.', 16, 1);
        RETURN;
    END

    -- Validasyon: Negatif stok veya fiyat engeli
    IF @StokAdedi < 0 OR @BirimFiyat < 0
    BEGIN
        RAISERROR(N'Hata: Stok adedi veya birim fiyat negatif olamaz.', 16, 1);
        RETURN;
    END

    -- Kayıt Ekleme
    INSERT INTO dbo.Urunler (UrunAdi, KategoriID, StokAdedi, KritikStokSeviyesi, BirimFiyat)
    VALUES (@UrunAdi, @KategoriID, @StokAdedi, @KritikStokSeviyesi, @BirimFiyat);

    SELECT N'Yeni ürün başarıyla envantere eklendi.' AS Mesaj, SCOPE_IDENTITY() AS YeniUrunID;
END;
GO
USE [master]
GO
